<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style-vote.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="js/js-vote.js"></script>
</head>
<body>
    <div class="container" style="margin: 50px auto">
        <div class="col-md-8">

            <!-- content -->

            <div class="vote-rating-wapper">
                <div class="vote-rating-box">
                    <div class="title-box-small">
                        <h4 class="inner-title">Thăm dò</h4>
                        <span class="count-vote"><strong>35.598</strong> biểu quyết</span>
                    </div>
                    <div class="content-box-category">
                        <div class="title-vote">Hai người đi xe máy lao đầu vào ôtô, theo bạn phương tiện nào sai?</div>
                        <div class="item-row-vote">
                            <label for="" class="label-check">
                                <input type="radio" class="radio-check">
                                <span>Hai người đi xe máy</span>
                            </label>
                        </div>
                        <div class="item-row-vote">
                            <label for="" class="label-check">
                                <input type="radio" class="radio-check">
                                <span>Ôtô 7 chỗ không làm chủ tốc độ</span>
                            </label>
                        </div>
                        <div class="item-row-vote">
                            <label for="" class="label-check">
                                <input type="radio" class="radio-check">
                                <span>Cả hai cùng sai</span>
                            </label>
                        </div>
                        <div class="item-row-vote">
                            <label for="" class="label-check">
                                <input type="radio" class="radio-check">
                                <span>Khác</span>
                            </label>
                        </div>
                        <div class="box-button">
                            <button class="btn-vote-rate">Biểu quyết</button>
                            <a href="javascript:void(0);" id="_btnResult" rel="nofollow" class="btn-view-cancel btn-vote-rate">Xem kết quả</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- end content -->

        </div>
    </div>
    
    <div class="container" style="margin: 50px auto">
        <div class="col-md-8">

            <!-- content -->

            <div class="vote-rating-wapper">
                <div class="vote-rating-box">
                    <div class="title-box-small">
                        <h4 class="inner-title">Thăm dò</h4>
                        <span class="count-vote"><strong>35.598</strong> biểu quyết</span>
                    </div>
                    <div class="content-box-category">
                        <div class="title-vote">Hai người đi xe máy lao đầu vào ôtô, theo bạn phương tiện nào sai?</div>
                        <div class="item-kq-vote">
                            <div class="txt-kq-vote">
                                <span class="option-txt">Hai người đi xe máy&nbsp;&nbsp;&nbsp;97%</span>
                                <span class="count-vote-kq">34.613 phiếu</span>
                            </div>
                            <div class="kq-vote">
                                <label class="percent-vote" style="width: 97%;"></label>
                            </div>
                        </div>
                        <div class="item-kq-vote">
                            <div class="txt-kq-vote">
                                <span class="option-txt">Hai người đi xe máy&nbsp;&nbsp;&nbsp;97%</span>
                                <span class="count-vote-kq">34.613 phiếu</span>
                            </div>
                            <div class="kq-vote">
                                <label class="percent-vote" style="width: 97%;"></label>
                            </div>
                        </div>
                        <div class="item-kq-vote">
                            <div class="txt-kq-vote">
                                <span class="option-txt">Hai người đi xe máy&nbsp;&nbsp;&nbsp;97%</span>
                                <span class="count-vote-kq">34.613 phiếu</span>
                            </div>
                            <div class="kq-vote">
                                <label class="percent-vote" style="width: 97%;"></label>
                            </div>
                        </div>
                        <div class="item-kq-vote">
                            <div class="txt-kq-vote">
                                <span class="option-txt">Hai người đi xe máy&nbsp;&nbsp;&nbsp;97%</span>
                                <span class="count-vote-kq">34.613 phiếu</span>
                            </div>
                            <div class="kq-vote">
                                <label class="percent-vote" style="width: 97%;"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- end content -->

        </div>
    </div>

</body>
</html>