<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu page-header-fixed">
            <li class="sidebar-toggler-wrapper">
                <div class="sidebar-toggler">
                    <i class="asc-icon asc-icon-38"></i>
                </div>
            </li>
            <li class="heading">
                <h3 class="uppercase">E-OFFICE</h3>
            </li>
            <li class="nav-item">
                <a href="javascript:;" title="" data-title="Thông báo" data-category-id="1" class="nav-link nav-toggle open_window">
                    <i class="asc-icon asc-icon-1"></i>
                    <span class="title">Thông báo</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="javascript:;" title="" data-title="Hộp thư" data-category-id="2" class="nav-link nav-toggle open_window">
                    <i class="asc-icon asc-icon-2"></i>
                    <span class="title">Hộp thư</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="javascript:;" title="" data-title="Lịch công tác" data-category-id="3" class="nav-link nav-toggle open_window">
                    <i class="asc-icon asc-icon-3"></i>
                    <span class="title">Lịch công tác</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="javascript:;" title="" class="nav-link nav-toggle">
                    <i class="asc-icon asc-icon-4"></i>
                    <span class="title">Công việc dự án</span>
                    <span class="asc-icon arrow icon-size-10 asc-icon-39"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item">
                        <a href="#" title="" data-title="Công việc" data-category-id="4" class="nav-link open_window">
                            <span class="title">Công việc</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" title="" data-title="Thống kê việc" data-category-id="5" class="nav-link open_window">
                            <span class="title">Thống kê công việc</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item  ">
                <a href="javascript:;" title="" class="nav-link nav-toggle">
                    <i class="asc-icon asc-icon-5"></i>
                    <span class="title">Yêu cầu khách hàng</span>
                    <span class="asc-icon arrow icon-size-10 asc-icon-39"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item">
                        <a href="#" title="" data-title="Yêu cầu" data-category-id="6" class="nav-link open_window">
                            <span class="title">Yêu cầu</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" title="" data-title="Thông báo bảo trì" data-category-id="7" class="nav-link open_window">
                            <span class="title">Thông báo bảo trì</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" title="" class="nav-link nav-toggle">
                    <i class="asc-icon asc-icon-6"></i>
                    <span class="title">Giao nhận việc</span>
                    <span class="asc-icon arrow icon-size-10 asc-icon-39"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item">
                        <a href="#" title="" data-title="Công việc" data-category-id="8" class="nav-link open_window">
                            <span class="title">Giao việc</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" title="" data-title="Xử lý việc" data-category-id="9" class="nav-link open_window">
                            <span class="title">Xử lý việc</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item  ">
                <a href="javascript:;" title="" class="nav-link nav-toggle">
                    <i class="asc-icon asc-icon-7"></i>
                    <span class="title">Chấm công</span>
                    <span class="asc-icon arrow icon-size-10 asc-icon-39"></span>
                </a>
                <ul class="sub-menu">
                    <li class="nav-item">
                        <a href="#" title="" data-title="Đăng ký vắng" data-category-id="10" class="nav-link open_window">
                            <span class="title">Đăng ký vắng</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" title="" data-title="Đăng ký tan ca" data-category-id="11" class="nav-link open_window">
                            <span class="title">Đăng ký tăng ca</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>