@using System.Linq
@using ASC.LIB.Common
@{
    var listSinhNhat = CommonBase.GetNhanSuHRM(null);
    if (listSinhNhat != null && listSinhNhat.Count() > 0)
    {
        var toDay = DateTime.Now;
        listSinhNhat = listSinhNhat.Where(m => m.NgaySinh != null && m.NgaySinh.Value.Month == toDay.Month && m.NgaySinh.Value.Day == toDay.Day).ToList();
    }
}
@if (listSinhNhat != null && listSinhNhat.Count() > 0)
{
    string w = (213 * listSinhNhat.Count()).ToString() + "px";
    <div class="box-card box-sinhnhat">
        <a class="" onClick="createTabSinhNhat()" href="javascript:void(0);">
            <div class="box-marquee">
                <marquee>
                    <div style="width:@w">
                        @foreach (var item in listSinhNhat)
                        {
                            <div class="box-item-marquee">

                                <div class="txt">@item.HoDem @item.Ten</div>
                                <div class="date">@string.Format("{0:dd/MM}", item.NgaySinh)</div>

                            </div>
                        }
                    </div>
                </marquee>
            </div>
        </a>
    </div>

    <script>
        function createTabSinhNhat() {
            window.parent.createNewTab('Danh sách sinh nhật', '/HeThong/DanhSachNhanSuSinhNhat', true);
        }
    </script>
}

