@using Kendo.Mvc;
@using Kendo.Mvc.UI;
@using Kendo.Mvc.UI.Fluent;
@using System.Linq
@using System.Web.Mvc
@using System.Web.Mvc.Ajax
@using System.Web.Mvc.Html
@using ASC.MOD.CMS.ViewModels


<style>
    text[text-anchor="end"] {
        display: inline-block !important;
    }

    .dashboard-tabs-options {
        display: none !important;
    }

    .highcharts-button {
        display: none !important;
    }

    .ngay-search {
        text-align: right;
        margin: 5px 0 5px 0;
    }
</style>

<div class="col-md-12 ngay-search">
    @Html.Kendo().DatePicker().Name("NgaySearch").HtmlAttributes(new { style = "text-align:center;", title = "Thời điểm thống kê" }).Value(new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1).AddDays(-1)).Max(DateTime.Today)
</div>
@*@{
        Html.RenderAction("DashBoardTinTuc", "TinTuc", new { });
    }*@
<div id="ChartTinTuc">

</div>
<script>
     jQuery(document).ready(function () {
        GetChartTinTuc();
     });
     $("#NgaySearch").change(function () {
         GetChartTinTuc();
    });
    function GetChartTinTuc() {
        $('#ChartTinTuc').html("");
        var date = $('#NgaySearch').data("kendoDatePicker").value();
        var _pNgaySearch = date.toJSON();
        $.ajax({
            url: "@Url.Action("DashBoardTinTuc", "TinTuc")",
            type: 'GET',
            dataType: 'html',
            data: {
                NgaySearch: _pNgaySearch
            },
            beforeSend: function () {
                LoadingMask(true);
            },
            success: function (data) {
                LoadingMask(false);
                $('#ChartTinTuc').html(data);
            }
        });
    }
</script>