<div class="message-notification">
    <div id="flash-messages" class="alert-message" style="display:none;">
         <div class="img-massage-box"><p></p></div>
        <a class="close" href="#">
            <img src="~/Content/login/images/close.png" title="Close" alt="close" />
        </a>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#flash-messages").flashMessage();
    });
</script>