@using System.Web.Mvc
@using System.Web.Mvc.Ajax
@using System.Web.Mvc.Html
@using ASC.DATA.Models
@inherits System.Web.Mvc.WebViewPage<List<SP_GetNhanSuHrm_Result>>
@{
    if (Model != null && Model.Count() > 0)
    {
        var groupPhongBan = Model.GroupBy(m => new { m.GioiTinh })
                                 .Select(m => new { m.Key.GioiTinh, DataSeries = "{" + string.Format("name: '{0}', y: {1} ", m.Key.GioiTinh.GetValueOrDefault(false) ? "Nam" : "Nữ", m.Count()) + "}" })
                                 .ToList();
        <div id="thongkeNhanSu" style="height:220px"></div>
        <div>
            <script type="text/javascript">
                Highcharts.chart('thongkeNhanSu', {
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie'
                    },
                    colors: ['#058DC7', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4'],
                    title: {
                        text: ''
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.y:,.0f} người</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                                        cursor: 'pointer',
                                        dataLabels: {
                                        enabled: true,
                                            format: '{point.name}: <b>{point.y:,.0f} người</b>'
                                        }
                            }
                        },
                        series: [
                            {
                                name: 'Số lượng',
                                data: [
                                    @Html.Raw(string.Join(",", groupPhongBan.Select(m => m.DataSeries)))
                                ]
                            }
                        ]
                });
            </script>
        </div>
    }
}
@{
    //Html.RenderAction("ThongKeNhanSu", "HeThong");
}
