<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0">
    <title>Học trực tuyến</title>

    <link href="~/Content/login/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/login/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/login/css/animate.css" rel="stylesheet">
    <link href="~/Content/login/css/style.css" rel="stylesheet">
    <link href="~/Content/login/css/styles.css" rel="stylesheet" type="text/css">
    <script src="~/Content/login/js/jquery.min.js"></script>
    <script src="~/Content/login/js/aes.js"></script>
    <script src="~/Content/login/js/pbkdf2.js"></script>
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/Scripts/jQuery.flashMessage.js"></script>
    <script src="~/Content/login/js/bootstrap.min.js"></script>
    @*<link rel="shortcut icon" href="/Content/AConfig/images/favicon.png" />
        <link href="~/Content/login/css/font-awesome.css" rel="stylesheet" />
        <link href="~/Content/login/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="~/Content/login/css/styles.css" rel="stylesheet" type="text/css">
        <script src="~/Content/login/js/jquery.min.js"></script>
        <script src="~/Content/login/js/aes.js"></script>
        <script src="~/Content/login/js/pbkdf2.js"></script>
        <script src="~/Scripts/jquery.cookie.js"></script>
        <script src="~/Scripts/jQuery.flashMessage.js"></script>*@
</head>
<body class="gray-bg">
    @RenderBody()
</body>
</html>
